################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/LabelTool/.vs/LabelTool
/LabelTool/LabelTool/obj
/LabelTool/LabelTool/bin/Debug/net9.0-windows
/LabelTool/LabelTool/bin/Debug
/LabelTool/.vs/ProjectEvaluation
